* { margin:0; padding:0; }

body{
	background: url(../images/body.jpg) repeat-x 0px 0px;
	font-family: Arial, Helvetica, sans-serif;
}

#container{
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;	/*左石兩邊padding 10px*/
}

#header{
	position: relative;
	width: 100%;
}

#header h1{
	background: url(../images/logo.jpg) no-repeat right 0;
	width: 358px;
	height: 115px;
	text-indent:-9999px;
	float: left;
}

#header h1 a{		/*make the logo clickable*/
	display:block;
    height:100%;
	width:100%;
}

#header #phone{
	background: url(../images/phone.jpg) no-repeat right 0px;
	height: 40px;
	text-align: right;
	top: 40px;
	right: 0;
	position: absolute;
	padding: 5px 50px 0 0;
}

#header #phone h6{
	font-size: 11px;
}

#header #phone p{
	font-size: 20px;
}

#nav{
	clear: both;
	height: 35px;
	width: 100%;
}

#nav ul{
	float: left;
}

#nav ul li{
	display: block;
	float: left;
	height: 35px;
	list-style-type: none;
	padding: 0 1px 0 0;	/*:上 右 下 左;*/
}

#nav ul li a{
	text-decoration: none;
	display: block;
	font-size: 12px;
	color: #3f3f3f;
	font-weight: 600;
	padding: 0 0 0 18px;
	height: 100%;
	text-transform: uppercase;
	height: 35px;


}

#nav li a span{
	display: block;
	float: left;
	padding: 0px 18px 0 0;
	height: 100%;
}

#nav li.active a, #nav li a:hover{
	color: #fff;
	background: url(../images/hover.jpg)  no-repeat left;
	text-decoration: none;
	cursor: pointer;
}

#nav li.active a span, #nav li a:hover span{
	background: url(../images/hover.jpg)   no-repeat right;
}

#featured{
	margin: 45px 0 45px 0;
	background: #fff;
	width: 940px;
	height: 340px;
	padding: 10px;
}

#featured ul{
	float: left;
}

#featured ul li{
	display: block;
	float: left;
	width: 630px;
	height: 340px;
	list-style-type: none;

}



#featured ul li a{
	display: block;
	text-indent : -99999px;
	height:340px;
}

#featured ul li.banner{
	background: url(../images/banner.jpg)   no-repeat ;
}

form#quote{
	background: url(../images/form.jpg) repeat-x;
	padding: 20px;
	float: right;
	width: 260px;
	height: 340px;
}

form#quote h2{
	font: normal 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #fff;
	margin-bottom: 18px;

}

form#quote label{
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	display: block;
	float: left;
	width: 100%;

}

form#quote input, form#quote textarea{

	border: 1px solid #ddd;
	color: #666;
	float: left;
	font: 12px Arial, Helvetica, sans-serif;
	width: 240px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 8px;
	margin: 8px 0 8px 0;
}

form#quote input.btn{
	width: auto;
	border: none;
	margin: 0;
	padding: 0;
}

#content{
	clear: both;
	color: #767676;
	margin: 80px 0 0;
	font-size: 12px;
}

#content .col{
	width: 258px;
	height: 150px;
	background: url(../images/col.jpg) repeat-x;
	border: 1px solid #CCC;
	float: left;
	margin-right: 30px;
	padding: 20px;
}

#content .col.fr{
	margin: 0;
	float: right;
}

#content .col.noMargin{
	margin: 0;
}


#content .col h2{
	font: normal 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #b47825;
	margin-bottom: 18px;
}

#content .col h2 span{
	color: #2f2f2f;
}

#content .col img{
	border: 1px solid #d8d8d8;
	float: right;
	padding: 2px;
	margin-bottom: 10px;
	margin-left: 10px;
}

#content .col p{
	margin-bottom: 20px;
	line-height: 17px;
}

#content .col a.readmore{
	font-weight: bold;
	color: #252525;
}

#content .col a:hover.readmore{
	text-decoration: none;
}

.clear {
	clear: both;
}
#footer{
	clear: both;
	background: url(../images/footer.jpg) repeat-x;
	height: 100px;
	width: 100%;
	margin-top: 40px;
}
#footerContainer{
	width: 960px;
	font-size: 12px;
	padding: 20px;
	margin:auto;
	position: relative;
}

#footerContainer a{
	color: #ddd;
	text-decoration: none;
}

#footerContainer a:hover{
	color: #ddd;
	text-decoration: underline;
}
#footerContainer p{
	color: #ddd;
	margin: 8px 0 8px;

}

form#newsletter{
	position: absolute;
	right: 20px;
	top:20px;
	width: 300px;
}

form#newsletter label{
	color: #ddd;
	font-size: 12px;
	font-weight: bold;
}

form#newsletter input{
	float: left;
	background-color: #fff;
	border:1px solid #ddd;
	color: #666;
	font: 12px Arial, Helvetica, sans-serif;
	width: 188px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 8px;
	margin-top: 5px;

}

form#newsletter input.btn{
	border: none;
	width: auto;
	padding: 0;
	margin:0;
	margin-top: 3px;
	margin-left: 5px;
}